<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Initialization Page</title>
</head>
<body>
<h1>Initialization Page</h1>
<p>Click <a th:href="@{/public}"> here</a> to see a public page.</p>
<p>If you are a normal user, click <a th:href="@{/private}">here</a> to see a private page</p>
<p>If you are a normal administrator press <a th:href="@{/admin}">here</a> to see the administrator page</p>
<div sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="name">someone</span>
    <p><a th:href="@{/logout}">Logout</a></p>
</div>

</body>
</html>